<html ng-app='filterApp'>
	<body ng-controller='filterCtrl'>
	<link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">

	<div class="inputform"> <strong>	Name Search:</strong>

		<input ng-model='search.name' type="text" name="name" value="" placeholder="Name">

		<strong>Email Search:</strong>
		<input ng-model='search.email' type="text" name="name" value="" placeholder="Email">

	</div>


<br>
<br>
		<div ng-repeat='data in newData | filter: search 'class="pairs">

			<strong>{{data.name}}:</strong>
			<p>{{data.email}}</p>


		</div>




		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
